<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
    {% include google_analytics.html %}
    {% seo %}
</head>
<body>
<div class="main">

{% include header.html %}

    <div class="container">
        {{ content }}
    </div>

    <div class="page-scrollTop" data-toggle="tooltip" data-placement="top" title="Top">
        <a href="javascript:void(0);">
            <div class="arrow"></div>
            <div class="stick"></div>
        </a>
    </div>
</div>

{% include footer.html %}

{% include script.html %}
<script id="dsq-count-scr" src="//httpchetnachaudharigithubio.disqus.com/count.js" async></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56dc22e53176ea4b"></script>
<a href="https://plus.google.com/108687514010457824364?rel=author">Chetna Chaudhari</a>
</body>
</html>

